.h1 {
    text-align: center;
}

.box {
    background: blueviolet;
    height: 200px;
    width: 300px;
    margin: 20px;
}

.box-kedua {
    background: red;
    height: 100px;
    width:600px;
    margin-left: 70px;
}

.box-ketiga{
    background: greenyellow;
    height: 200px;
    width: 300px;
    padding: 20px;
}

.box-keempat{
    background: navy;
    height: 100px;
    width:600px;
    padding-left: 70px;
}

body {
    background-color: blue;
}

.tulisan_satu {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: underline;
}

.tulisan_dua {
    color: orangered;
    font-size: 24px;
    font-style: italic;
    text-align: right;
    text-transform: capitalize;
    text-decoration: overline;
}

.tulisan_tiga {
    color: aqua;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    word-spacing: 10px;
}

.link {
    font-size: 20pt;
}

.link:hover {
    color: red;
}

.link:link {
    color: blue;
}

.link:active {
    color: green;
}

.link:visited {
    background-color: yellow;
}

